@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');
*{
    padding: 0;
    margin: 0;
}
html {
    scrollbar-width: none;
}
body {
    background-image: linear-gradient(#402662, #3900A6,#000066,#6699FF, #4BE1EC, #D6FF7F, #00B3CC);
}